header {
    background: linear-gradient(to bottom, rgba($deep-forest-green,0.5), rgba($deep-forest-green,0.5)),url(../../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    form {
        height: 39px;
        label {
            vertical-align: 10px;
            font-size: 2rem;
        }
        select, label, input {
            color: $scotch-mist;
            background: transparent;
        }
        select, input {
            border: 1px solid $scotch-mist;
            height: 39px ;
            width: 150px;
            text-transform: uppercase;
            vertical-align: text-bottom;
            letter-spacing: 2px;
            margin: 0 10px;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-left: 20px;
            width: 250px;
            background: url('../../assets/down-arrow.svg') no-repeat;
            background-size: 13%;
            background-position-x: 95%;
            background-position-y: -100%;
            border-radius: 0; 
        option {
            text-transform: uppercase;
            margin: 20px;
            border-radius: 0;
            
        }  
    }
}
}