@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

//add in emblem of person reading (noun project)
//change background to scotch mist
//give emblem background of green
.results {
  min-height: 100vh;
  position: relative;
  .emblem-container {
    box-shadow: 0 0 20px $forest-green;
    position: absolute;
    top: -15px;
    transform: rotateZ(45deg) translateX(-50%);
    transform-origin: 0%;
    position: absolute;
    left: 50%;
    background: $forest-green;
    .emblem {
      transform: rotate(-45deg);
      width: 100px;
    }
  }
  .next-page, .previous-page {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $forest-green;
    border: transparent;    
    img {
      width: 30px;
      object-fit: cover;
    }
  }
  .next-page {
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
  }
  .previous-page {
    img {
      transform: rotate(180deg);
    }
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
  }
  .gallery {
    background: $golden-poppy;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 50px darken($scotch-mist, 50);
    padding: 100px;
      .title-gallery {
        width: calc(20% - 20px);
        min-width: 95px;
        margin: 30px 10px;
        float: left;
        height: 250px;
        text-align: center;
          .cover-container {
            width: 100%;
            max-width: 200px;
            height: auto;
            margin: 0 auto;
            img {
              max-width: 150px;
              width: 100%;
              height: auto;             
            }
          }
          @media(max-width: 428px) {
              width: calc(50% - 20px);
          }
      }
      .title-gallery:hover {
        cursor: pointer;
        -webkit-animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      }
    }
    .back-forth {
        text-align: center;
    }
}