@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

//TODO: move buttons to bottom on mobile
//TODO: add font-awesome 
.results {
  height: 100vh;
  position: relative;
  .next-page {
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }
  .previous-page {
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
  }
    .gallery {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
        .title-gallery {
            width: calc(20% - 20px);
            min-width: 95px;
            margin: 30px 10px;
            float: left;
            height: 300px;
            text-align: center;
            img {
                // max-width: 150px;
                // width: 100%;
                // height: auto;
                object-fit: cover;
            }
            @media(max-width: 428px) {
                width: calc(50% - 20px);
            }
        }

        .title-gallery:hover {
	        -webkit-animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
    }
    .back-forth {
        text-align: center;
    }
}