@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

//TODO: move buttons to bottom on mobile
//TODO: add font-awesome 
.results {
  background: $forest-green;
  height: 100vh;
  position: relative;
  .next-page, .previous-page {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    img {
      width: 30px;
      object-fit: cover;
    }
  }
  .next-page {
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }
  .previous-page {
    img {
      transform: rotate(180deg);
    }
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
  }
  .gallery {
    background: $scotch-mist;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    // width: 70%;
      .title-gallery {
          width: calc(20% - 30px);
          margin: 30px 15px;
          float: left;
          height: 300px;
          text-align: center;
          .cover-container {
            width: 100%;
            max-width: 200px;
            height: auto;
            text-align: center;
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;                  
            }
          }
          @media(max-width: 428px) {
              width: calc(50% - 20px);
          }
      }
      .title-gallery:hover {
        -webkit-animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-bottom 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      }
    }
    .back-forth {
        text-align: center;
    }
}