.saved {
    height: 100vh;
    background: linear-gradient(to bottom, rgba($deep-forest-green,0.5), rgba($deep-forest-green,0.5)),url(../../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.saved-section {
    width: 100%;
    height: 80vh;
    background-color: rgba($golden-poppy,0.5);
    padding: 20px 50px;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.saved-book {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    &::before {
        content: "";
        border-bottom: 5px dotted $scotch-mist;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -20px;
        left: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:last-child::before {
        content: "";
        border-bottom: 0;
    }
    &__image-container {
        width: 98px;
        height: 153px;
        float: left;
        margin-right: 20px;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text {
        width: 50%;
        float: left;
        line-height: 153px;
    }
    &__title {
        font-family: $heading-one;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: normal;
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        text-align: left;
    }
    &__buttons {
        width: 200px;
        float: right;
        line-height: 153px;
    }
    &__button-container {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }
    &__button {
        cursor: pointer;
        line-height: 30px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__icon {
        font-size: 3rem;
        color: $deep-forest-green;
        display: inline-block;
        float: left;
        width: 30px;
        margin-right: 5px;
    }
    &__icon--active {
        color: $forest-green;
    }
    &__ongoing, &__finished, &__remove {
        font-family: "Lato", sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        vertical-align: middle;
        height: 30px; 
        margin: 0;
        float: left;          
    }
}

@media (max-width: 919px) {
    .saved {
        .saved-book {
            &__buttons {
                .saved-book__button-container {
                    min-width: 150px;
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
            &__text {
                width: 40%;
                .saved-book__title {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .saved {
        .saved-book {
            &__text {
                width: 30%;
                .saved-book__title {
                    font-size: 1.6rem;
                }
            }
        }
    }    
}

@media (max-width: 692px) {
    .saved {
        .saved-book {
            &__buttons {
                width: 100%;
                .saved-book__button-container {
                    min-width: 150px;
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
            &__text {
                float: right;
                width: 60%;
                .saved-book__title {
                    font-size: 1.6rem;
                }
            }
        }
    }    
}

@media (max-width: 494px) {
    .saved {
        .saved-book {
            &__image-container {
                margin: 0 auto;
                display: block;
                float: none;
            }
            float: none;
            &__buttons {
                width: 100%;
                .saved-book__button-container {
                    min-width: 150px;
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
            &__text {
                float: none;
                clear: both;
                width: 100%;
                line-height: 1.6;
                text-align: center;
                .saved-book__title {
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
        }
    }      
}

@media (max-width: 393px) {
    .saved-section.wrapper {
        top: 55%;
        max-width: 90%;
    }
}
//float none
//margin o auto on images
