@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'results';
@import 'savedbooks';
@import 'modal';

//GLOBAL STYLES

//GET LIT.. USE THE LIGHTBULB IN THE NOUN PROJECT

html {
    font-size: 62.5%;
}

button {
    color: $deep-forest-green;
    border: 1px solid $deep-forest-green;
    height: 39px ;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
    letter-spacing: 2px;
    margin: 0 10px;
}

body {
    background: $scotch-mist;
    color: $deep-forest-green;
    .app-container {
        position: relative;
        .nav {
            text-align: right;
            position: absolute;
            z-index: 12;
            right: 0;
            top: 10px;
            color: $scotch-mist;
            text-transform: uppercase;
            height: 36px;
            .nav-links {
                vertical-align: 14px;
                padding: 13px 10px;
                border: 1px solid transparent;
                margin-left: 15px;
                margin-right: 15px;
                display: inline-block;
                letter-spacing: 2px;
                text-align: center;
                transition: 0.3s;
            }
            button {
                background: transparent;
                color: $scotch-mist;
                transition: 0.3s;
                border: transparent;
            }
            .nav-links:hover,
            button:hover {
                border: 1px solid $scotch-mist;
            }
        }
    }
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}