@import 'setup';
@import 'utils';
@import 'typography';
@import 'header';
@import 'results';
// @import 'details';
@import 'savedbooks';
@import 'modal';

//GLOBAL STYLES

html {
    font-size: 62.5%;
}

button {
    color: $deep-forest-green;
    border: 1px solid $deep-forest-green;
    height: 39px ;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
    letter-spacing: 2px;
    margin: 0 10px;
}

body {
    background: $scotch-mist;
    color: $deep-forest-green;
    .nav {
        height: 10vh;
        background: $golden-poppy;
        text-align: right;

    }
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}